<launch>
  <arg name="limited" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false" />
  <arg name="sim" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <!-- Remap gripper_cmd -->

  <!-- Launch moveit -->
  <include file="$(find ur5_vision_pick_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>

  <!-- start realsense camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
  
  <!-- start the robot -->
  <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch" >
    <arg name="robot_ip" value="169.254.6.80" />
  </include>  

    <!-- start the USB -->
    <!-- <include file="$(find probot_ocr)/launch/usb_cam-test.launch" /> -->


</launch>