<?xml version="1.0"?>
<launch>
  <arg name="gui" default="True" />
  
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find ur5_description)/urdf/ur5_hitbot_with_ilc_platform.urdf.xacro'" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <param name="use_gui" value="$(arg gui)"/>
  <group if="$(arg gui)">
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find ur5_description)/config/ur5_view.rviz"
          required="true" />
  </group>

</launch>
